.default {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 8px 6px 5px lightblue;
    border: 1px solid cadetblue;
}
.black {
    background-color: #000;
}
.noShadow {
    box-shadow: 0 0 0 transparent;
}
.queen {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 10px solid darkgoldenrod;
    margin: 9px;
}
