.container {
    width: 801px;
    height: auto;
    padding: 0;
    margin: 0 auto 0 0;
}
.board {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}
.player {
    padding: 12px 20px;
    margin: 0;
    color: white;
    background-color: #217476;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 8px 8px 0 0;
}
.player:last-child {
    border-radius: 0 0 8px 8px;
}
.turn {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 4px 0 0;
    display: inline-block;
    float: right;
    border-radius: 11px;
    border: 1px solid darkslategrey;
}
.turnOn {
    background-color: #4ce84c;
}
.turnOff {
    background-color: #e10a0a;
}
