.container {
    width: 801px;
    height: auto;
    padding: 0;
    margin: 0 auto 0 0;
}
.board {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}
