.container {
    height: 100%;
    width: 380px;
    background-color: #eaf6d1;
    border-radius: 8px;
}
.container > * {
    display: block;
}
.container > h2 {
    width: calc(100% - 40px);
    padding: 12px 20px;
    color: white;
    background-color: #217476;
    border-radius: 8px 8px 0 0;
}
.list {
    height: 680px;
    padding: 0 40px;
}
.newGameBtn {
    width: 100%;
    height: 142px;
    font-size: 40px;
    background-color: #217476;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}
.newGameBtn:hover {
    color: black;
    background-color: #c3ec72;
}
